* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    background-image: url("https://images.unsplash.com/photo-1638613067237-b1127ef06c00?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  .principal {
    /* display: grid; */
    /* gap: 20px; */
    min-height: 100vh;
  }

  .lista__instrucciones {
    width: 70%;
    /* background: #E0ECFF; */
    /* padding: 25px; */
    margin: auto;
    /* margin-top: 100px; */
    border-radius: 5px;
    font-family: "Cambria", Cambria;
    line-height: 125%;
    color: black;
    box-shadow: 7px 13px 37px #000;
    background-position: right right;
    font-size: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
    /* margin-top: 5%; */
    /* margin-left: 15%;
    margin-right: 15%; */
  }

  .principal .botones {
    width: 150px;
    height: 60px;
    line-height: 40px;
    background: transparent;
    border-radius: 4px;
    padding: 8px 8px 8px 8px;
    color: #ffd700;
    margin: 87px;
    text-align: center;
    font-size: 2em;
    box-shadow: 7px 13px 37px #000;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 7px;
    margin-left: 30%;
    /* margin-right: 30%; */
    font-family: "Titan One", Titan -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  .principal__titulo {
    color: #ffd700;
    font-family: "Titan One", Titan -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 3em;
    -webkit-text-stroke: 2px black;
    padding: 20px 50px;
    /* margin-top: 5%; */
    /* margin-left: 50%; */
    /* margin-right: 50%; */
    text-align: center;
  }

  .principal__instucciones {
    color: #ffd700;
    font-family: "Titan One", Titan -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    font-size: 1.5em;
    -webkit-text-stroke: 1px black;
    text-align: center;
    padding: 20px 50px;
    /* margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%; */
  }
}

.contenedorCartas_traseras{ /*Es la cara que se ve */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  --w: calc(70vw/6);
  --h: calc(70vw/3);
  width: var(--w);
  height: var(--h);
  min-width: 20px;
  max-width: 80px;
  transition: all 0.5s;
  position: relative;

}

.frontales{ /*Es el pokemon */
  display: grid;
  border: #ffd700;
  grid-template-columns: repeat(6, 1fr);
  /*border-style:solid;
	border-radius:4px;
  border-color: blue;*/
  --w: calc(70vw/6);
  --h: calc(70vw/3);
  width: var(--w);
  height: var(--h);
  min-width: 100px;
  transition: all 0.5s;
  position: absolute;

}

#bulbasaur #ivysaur #venusaur
#charmander #charmeleon #charizard #squirtle
#wartortle #blastoise {
  border-style:solid;
	border-radius:4px;
  border-color: blue;


}

 




